.sidebar{
    flex: 1;
    height: calc(100vh-50px);
    background-color: white;
    position: sticky;
    top: 50px;
}
.sidebarmenu
{
    margin-bottom: 10px;
}
.sidebarlist{ 
    padding: 5px;
    padding-left: 5px; 
    cursor: pointer;
}