.feactured{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.feacturedItem{
    flex: 1;
    
    margin: 0px 10px;
    padding:20px;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 9px 8px 51px 0px rgba(0,0,0,0.31);
    -webkit-box-shadow: 9px 8px 51px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 9px 8px 51px 0px rgba(0,0,0,0.31);
}
.viewDetails{
    width: 100px;
    height: 30px;
}
.total_count{
    display: flex;
}
.countcustomer{
    margin-left: 10px;
}
.ordercount{
    
    margin-left: 10px;
}