.chart
{
    margin: 10px;
    padding: 20px;
    
    box-shadow: 9px 8px 51px 0px rgba(0,0,0,0.31);
    -webkit-box-shadow: 9px 8px 51px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 9px 8px 51px 0px rgba(0,0,0,0.31);
}
.chartTitle{
    margin-bottom: 20px;
}